.publication {
  margin-top: 30px;
}

.publication__date {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 19px;
  color: $medium-grey;
  font-weight: 300;
  margin: 0;
  font-family: $roboto;
  svg {
    margin-right: 10px;
    fill: $medium-grey;
  }
}