
// Body
//$body-bg: #f8fafc;
$body-bg: white;

// Typography
//$font-family-sans-serif: "Nunito", sans-serif;
$font-family-sans-serif: "Open Sans", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66D9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$title-background: #303f9f;
$title-color: white;

// Максимальный размер блока с контентом
$max-content-width: 1500px;


//---------------------------------
$red: #DB0D3D;
$light-blue: #6976C7;
$medium-blue: #303F9F;
$dark-blue: #121841;
$medium-grey: #929499;
$light-grey: #F0F2F5;
$selection-color: #D1D5EE;

// Шрифты

$play: 'Play', sans-serif;
$roboto: 'Roboto', sans-serif;

// Ширина контейнера

$max-container-width: 1580px;

// Breakpoints

$large-desktop-width: 1600px;
$desktop-width: 1366px;
$laptop-width: 1200px;
$tablet-width: 1024px;
$small-tablet-width: 968px;
$mobile-width: 768px;
$small-mobile-width: 576px;
$supersmall-mobile-width: 360px;

// Retina

$dpi: 144dpi;
$dppx: 1.5dppx;

